<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees</title>

    <link rel="stylesheet" href="stylesheets/company.css">

    <script src="javascripts/jquery-3.5.1.min.js"></script>
</head>

<body>
    <!-- modal -->
    <div id="modal-container">
        <div class="modal-background">
            <div class="modal">
                <form action="/" method="POST" id="createForm">
                    <input type="text" id="firstname" name="firstname" placeholder="employee firstname">
                    <input type="text" id="lastname" name="lastname" placeholder="employee lastname">
                    <input type="text" id="gender" name="gender" placeholder="employee gender">
                    <input type="text" id="nationalNumber" name="nationalNumber" placeholder="natioanal number">
                    <input type="text" id="dateOfBirth" name="dateOfBirth" placeholder="date of birth">
                    <input type="text" id="isManager" name="isManager" placeholder="is manager">

                    <button type="submit">Create</button>
                </form>

                <p class="result">Result: </p>

                <button class="close">x</button>
            </div>
        </div>
    </div>

    <!-- content -->
    <div class="content">
        <div class="buttons">
            <div id="two" class="button">new employee</div>
        </div>

        <!-- cards -->
        <% for( let index = 0; index < employees.length; index++ ) { %>
        <ul>
            <li>firstname: <%= employees[index].firstname %> </li>
            <li>lastname: <%= employees[index].lastname %> </li>
            <li>gender: <%= employees[index].gender %> </li>
            <li>national number: <%= employees[index].nationalNumber %> </li>
            <li>date of birth: <%= employees[index].dateOfBirth %> </li>
            <li>age: <%= employees[index].age %> </li>
            <li>manager: <%= employees[index].isManager %> </li>

            <a href="/employee/<%= employees[index].id %>" class="read-btn">read</a>
        </ul>
        <% } %>

    </div>
    <!-- scripts -->
    <script src="javascripts/mainCompany.js"></script>
    <script src="javascripts/createEmployee.js"></script>
</body>

</html>