<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= company.companyName %> page</title>

    <link rel="stylesheet" href="stylesheets/company.css">

    <script src="javascripts/jquery-3.5.1.min.js"></script>
</head>

<body>
    <!-- modals -->
    <div id="modal-container">
        <div class="modal-background">
            <div class="modal">
                <form action="/" method="PATCH" id="updateForm">
                    <input type="text" id="companyID" name="companyID" value="<%= company.id %>" disabled>
                    <input type="text" id="companyName" name="companyName" value="<%= company.companyName %>">
                    <input type="text" id="state" name="state" value="<%= company.state %>">
                    <input type="text" id="city" name="city" value="<%= company.city %>">
                    <input type="text" id="phoneNumber" name="phoneNumber" value="<%= company.phoneNumber %>">
                    <input type="text" id="registerNumber" name="registerNumber" value="<%= company.registerNumber %>">

                    <button type="submit">update</button>
                </form>
                
                <p class="result">result: </p>

                <button class="close">x</button>
            </div>
        </div>
    </div>

    <!-- content -->
    <div class="content">
        <ul>
            <li>company name: <%= company.companyName %> </li>
            <li>company ID: <%= company.id %> </li>
            <li>phone number: <%= company.phoneNumber %> </li>
            <li>state: <%= company.state %> </li>
            <li>city: <%= company.city %> </li>
            <li>registeration number: <%= company.registerNumber %> </li>
            <li>registeration date: <%= company.persian %> </li>
        </ul>

        <div class="buttons">
            <div id="two" class="button">Update Company</div>

            <!-- delete form -->
            <form action="/" method="DELETE" id="deleteForm">
                <button type="submit">Delete Company</button>
            </form>
        </div>
    </div>

    <!-- scripts -->
    <script src="javascripts/mainCompany.js"></script>
    <script src="javascripts/updateCompany.js"></script>
</body>

</html>