<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= employee.firstname %> page</title>

    <link rel="stylesheet" href="stylesheets/company.css">

    <script src="javascripts/jquery-3.5.1.min.js"></script>
</head>

<body>
    <!-- modals -->
    <div id="modal-container">
        <div class="modal-background">
            <div class="modal">
                <form action="/" method="PATCH" id="updateForm">
                    <input type="text" id="employeeID" name="employeeID" value="<%= employee.id %>" disabled>
                    <input type="text" id="firstname" name="firstname" value="<%= employee.firstname %>">
                    <input type="text" id="lastname" name="lastname" value="<%= employee.lastname %>">
                    <input type="text" id="gender" name="gender" value="<%= employee.gender %>">
                    <input type="text" id="nationalNumber" name="nationalNumber" value="<%= employee.nationalNumber %>">
                    <input type="text" id="dateOfBirth" name="dateOfBirth" value="<%= employee.dateOfBirth %>">
                    <input type="text" id="isManager" name="isManager" value="<%= employee.isManager %>">

                    <button type="submit">update</button>
                </form>

                <p class="result">result: </p>

                <button class="close">x</button>
            </div>
        </div>
    </div>

    <!-- content -->
    <div class="content">
        <ul>
            <li>firstname: <%= employee.firstname %> </li>
            <li>lastname: <%= employee.lastname %> </li>
            <li>employeeID: <%= employee.id %> </li>
            <li>gender: <%= employee.gender %> </li>
            <li>national number: <%= employee.nationalNumber %> </li>
            <li>date of birth: <%= employee.persian %> </li>
            <li>manager: <%= employee.isManager %> </li>
        </ul>

        <div class="buttons">
            <div id="two" class="button">Update Employee</div>

            <!-- delete form -->
            <form action="/" method="DELETE" id="deleteForm">
                <button type="submit">Delete Employee</button>
            </form>
        </div>
    </div>

    <!-- scripts -->
    <script src="javascripts/mainCompany.js"></script>
    <script src="javascripts/updateEmployee.js"></script>
</body>

</html>