<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query</title>
</head>
<body>

    <% for( let index = 0; index < lastYear.length; index++ ) { %>
        <ul>
            <li>company name: <%= lastYear[index].companyName %> </li>
            <li>phone number: <%= lastYear[index].phoneNumber %> </li>
            <li>state: <%= lastYear[index].state %> </li>
            <li>city: <%= lastYear[index].city %> </li>
            <li>registeration number: <%= lastYear[index].registerNumber %> </li>
            <li>registeration date: <%= lastYear[index].persian %> </li>
        </ul>
    <% } %>
</body>
</html>